<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kompass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <Kompass.Properties.Settings>
            <setting name="durchmesser" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="Kurslinie" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="kurslinie_an" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PortName" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TcpAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="TcpPort" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="transparent" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="wendekompass_an" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="wendewinkel" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="windpfeil" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindRichtung" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AntiAlias" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>4800</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.5</value>
            </setting>
        </Kompass.Properties.Settings>
    </userSettings>
</configuration>